## Working with Date and Time in Python

In [2]:
import pandas as pd 
import numpy as np 
import datetime as dt

#### Working with DatetimeIndex

In [10]:
dt1 = dt.datetime(2021, 1, 1)
print(dt1)

2021-01-01 00:00:00

In [9]:
dt2 = pd.Timestamp('2021-1-1')
print(dt2)

2021-01-01 00:00:00

In [8]:
dt3 = pd.to_datetime('2021-1-1')
print(dt3)

2021-01-01 00:00:00

In [11]:
print(type(dt1))
print(type(dt2))
print(type(dt3))

<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [12]:
dt1 == dt2 == dt3

True

Thus, we can see that pandas' Timestamp object is equivalent to Python's Datetime object

In [13]:
issubclass(pd.Timestamp, dt.datetime)

True

In [16]:
dates = ['2021-1-1', '2021-1-2']
pd_dates = pd.to_datetime(dates) 
print(pd_dates) 
print(type(pd_dates))

DatetimeIndex(['2021-01-01', '2021-01-02'], dtype='datetime64[ns]', freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

Interestingly, the output is now of type DatetimeIndex created using the same pandas.to_datetime() function that we used earlier

When using the same funtion on an individual object, the result was of type "Timestamp", but when applied on a list, it produced a sequence of type "DatetimeIndex".

In [18]:
print(pd_dates[0])
print(type(pd_dates[0]))

2021-01-01 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [21]:
dates = ['2021-01-01',
         '2/1/2021',
         '03-01-2021',
         'April 1, 2021', 
         '20210501', 
         np.datetime64('2021-07-01'),
         dt.datetime(2021, 8, 1), 
         pd.Timestamp(2021, 9, 1)]

# Parse the list using pandas.to_datetime()
parsed_dates = pd.to_datetime(
    dates, 
    infer_datetime_format=True,
    errors='coerce'
)

print(parsed_dates)

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-07-01', '2021-08-01', '2021-09-01'],
              dtype='datetime64[ns]', freq=None)

Notice how the to_datetime() function properly parsed the entire list of different string representations and date types such as Python's Datetime and Numpy's datetime64. 

Similarly, we could have used the DatetimeIndex constructor directly as:

In [22]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-07-01', '2021-08-01', '2021-09-01'],
              dtype='datetime64[ns]', freq=None)

The DatetimeIndex object gives access to many useful properties and methods to extract additional date and time properties. 

As an example we can we can extract: day_name, month, year, days_in_month, quarter, is_quarter_start, is_leap_year, is_month_start, is_month_end, is_year_start

In [30]:
print(f'Name of Day: {parsed_dates.day_name()}')
print(f'Month : {parsed_dates.month}')
print(f'Year: {parsed_dates.year}')
print(f'Days in month: {parsed_dates.days_in_month}')
print(f'Quarter: {parsed_dates.quarter}')
print(f'Quarter start: {parsed_dates.is_quarter_start}')
print(f'Leap Year: {parsed_dates.is_leap_year}')
print(f'Month Start: {parsed_dates.is_month_start}')
print(f'Month End: {parsed_dates.is_month_end}')
print(f'Year Start: {parsed_dates.is_year_start}')

Name of Day: Index(['Friday', 'Monday', 'Monday', 'Thursday', 'Saturday', 'Thursday',
       'Sunday', 'Wednesday'],
      dtype='object')
Month : Int64Index([1, 2, 3, 4, 5, 7, 8, 9], dtype='int64')
Year: Int64Index([2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021], dtype='int64')
Days in month: Int64Index([31, 28, 31, 30, 31, 31, 31, 30], dtype='int64')
Quarter: Int64Index([1, 1, 1, 2, 2, 3, 3, 3], dtype='int64')
Quarter start: [ True False False  True False  True False False]
Leap Year: [False False False False False False False False]
Month Start: [ True  True  True  True  True  True  True  True]
Month End: [False False False False False False False False]
Year Start: [ True False False False False False False False]

Setting "errors = coerce" will instruct pandas to set any value it could not parse as "NaT" (Not a time) indicating a missing value

##### pandas.date_range()

Can be used to provide a DatetimeIndex. Provides a starting date and the number of periods to generate and specifies a daily frequency with D

In [31]:
pd.date_range(start='2021-01-01', periods=3, freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq='D')

In [34]:
pd.date_range(start='2021-01-01', end='2023-03-31', freq='M')

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31',
               '2023-01-31', '2023-02-28', '2023-03-31'],
              dtype='datetime64[ns]', freq='M')

#### Providing a format argument to DateTime 

* strptime
* strftime

In [44]:
#dt.datetime.strptime('1/1/2022', '%m/%d/%Y')
#dt.datetime.strptime('1 January, 2022', '%d %B, %Y')
#dt.datetime.strptime('1-Jan-2022', '%d-%b-%Y')
dt.datetime.strptime('Saturday, January 1, 2022', '%A, %B %d, %Y')

datetime.datetime(2022, 1, 1, 0, 0)

In [45]:
# Specify only the date representation 
dt.datetime.strptime('1/1/2022', '%m/%d/%Y').date()

datetime.date(2022, 1, 1)

In [47]:
dt_1 = dt.datetime.strptime('1/1/2022', '%m/%d/%Y')
dt_1

datetime.datetime(2022, 1, 1, 0, 0)

Similarly we can get the string (readable) representation of the Timestamp object using the print() function

In [49]:
dt_2 = pd.to_datetime('1/1/2022', format='%m/%d/%Y')
dt_2

Timestamp('2022-01-01 00:00:00')

There is an advantage in using pandas.to_datetime() over Python's datetime module. The to_datetime() function can parse a variety of date representations, including string date formats with minimal input or specifications. The following code explains this concept:

In [50]:
pd.to_datetime('Saturday, January 1, 2022')

Timestamp('2022-01-01 00:00:00')

In [51]:
pd.to_datetime('1-Jan-2022')

Timestamp('2022-01-01 00:00:00')

* %d: indicates that the first value is a zero-padded digit representating the day of the month, followed by a space to display spacing between the digit and the next object
* %B: is used to indicate that the second value represents the moonth's full name! Note, that this was followed by a comma, to describe the exact format in the strings we are parsing to include any commas, hyphens, backslashes, spaces or whichever separator characters are used
* To adhere to the string format, there is a space after the comma, followed by %Y to reflect the last value represents a four-digit year

%y = the year 2022 without the century, so the result will be: 22
%Y = the year 2022 without the century, so the result will be: 2022

In [64]:
# Example: transform a DataFrame column that contains date information in string format to a datetime data type

# a = np.arange(100)
# b = np.arange(100)
# c = np.arange(100)

df = pd.DataFrame(
    {'Date': ['January 1, 2022', 'January 2, 2022', 'January 3, 2022'],
     'Sales': [23000, 19020, 21000]}
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Sales   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

To update the DataFrame to include a DatetimeIndex, we will parse the "Date" column to datetime and then assign it as an index to the DataFrame:

In [65]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3 entries, 2022-01-01 to 2022-01-03
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sales   3 non-null      int64
dtypes: int64(1)
memory usage: 48.0 bytes

## Working with Unix epoch timestamps

....

## Working with time deltas

In [68]:
df_delta = pd.DataFrame({
    'item': ['item1', 'item2', 'item3', 'item4', 'item5', 'item6'],
    'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D', tz='UTC')
})

df_delta

    item               purchase_dt
0  item1 2021-01-01 00:00:00+00:00
1  item2 2021-01-02 00:00:00+00:00
2  item3 2021-01-03 00:00:00+00:00
3  item4 2021-01-04 00:00:00+00:00
4  item5 2021-01-05 00:00:00+00:00
5  item6 2021-01-06 00:00:00+00:00

In [70]:
# Add another datetime column to represent the expiration date, which is 30 days from the purchase date:

df_delta['expiration_dt'] = df['purchase_dt'] + pd.Timedelta(days=30)
df_delta

    item               purchase_dt             expiration_dt
0  item1 2021-01-01 00:00:00+00:00 2021-01-31 00:00:00+00:00
1  item2 2021-01-02 00:00:00+00:00 2021-02-01 00:00:00+00:00
2  item3 2021-01-03 00:00:00+00:00 2021-02-02 00:00:00+00:00
3  item4 2021-01-04 00:00:00+00:00 2021-02-03 00:00:00+00:00
4  item5 2021-01-05 00:00:00+00:00 2021-02-04 00:00:00+00:00
5  item6 2021-01-06 00:00:00+00:00 2021-02-05 00:00:00+00:00

In [75]:
# Assume we are asked to create a special extended date for return, and this one is set at 35 days, 12 hours and 30 minutes from the purchase date: 
df_delta['extended_dt'] = df_delta['purchase_dt'] + pd.Timedelta('35 days 12 hours 30 minutes') 
df_delta

,item,purchase_dt,expiration_dt,extended_dt
0,item1,2021-01-01 00:00:00+00:00,2021-01-31 00:00:00+00:00,2021-02-05 12:30:00+00:00
1,item2,2021-01-02 00:00:00+00:00,2021-02-01 00:00:00+00:00,2021-02-06 12:30:00+00:00
2,item3,2021-01-03 00:00:00+00:00,2021-02-02 00:00:00+00:00,2021-02-07 12:30:00+00:00
3,item4,2021-01-04 00:00:00+00:00,2021-02-03 00:00:00+00:00,2021-02-08 12:30:00+00:00
4,item5,2021-01-05 00:00:00+00:00,2021-02-04 00:00:00+00:00,2021-02-09 12:30:00+00:00
5,item6,2021-01-06 00:00:00+00:00,2021-02-05 00:00:00+00:00,2021-02-10 12:30:00+00:00

In [78]:
# Assume that we are asked to convert the time zone from UTC to the local time zone of the retailer store's headquarters, which is set in LA:
df_delta.iloc[:,1:] = df_delta.iloc[:, 1:].apply(lambda x: x.dt.tz_convert('US/Pacific'))
df_delta

,item,purchase_dt,expiration_dt,extended_dt
0,item1,2020-12-31 16:00:00-08:00,2021-01-30 16:00:00-08:00,2021-02-05 04:30:00-08:00
1,item2,2021-01-01 16:00:00-08:00,2021-01-31 16:00:00-08:00,2021-02-06 04:30:00-08:00
2,item3,2021-01-02 16:00:00-08:00,2021-02-01 16:00:00-08:00,2021-02-07 04:30:00-08:00
3,item4,2021-01-03 16:00:00-08:00,2021-02-02 16:00:00-08:00,2021-02-08 04:30:00-08:00
4,item5,2021-01-04 16:00:00-08:00,2021-02-03 16:00:00-08:00,2021-02-09 04:30:00-08:00
5,item6,2021-01-05 16:00:00-08:00,2021-02-04 16:00:00-08:00,2021-02-10 04:30:00-08:00

In [81]:
# Finally we can calculate the delta between the extended and original expiration dates. Since they are both datetiem data types, we can achieve this with a simple subtraction between the columns
df_delta['exp_ext_diff'] = (df_delta['extended_dt'] - df_delta['expiration_dt'])
df_delta

,item,purchase_dt,expiration_dt,extended_dt,exp_ext_diff
0,item1,2020-12-31 16:00:00-08:00,2021-01-30 16:00:00-08:00,2021-02-05 04:30:00-08:00,5 days 12:30:00
1,item2,2021-01-01 16:00:00-08:00,2021-01-31 16:00:00-08:00,2021-02-06 04:30:00-08:00,5 days 12:30:00
2,item3,2021-01-02 16:00:00-08:00,2021-02-01 16:00:00-08:00,2021-02-07 04:30:00-08:00,5 days 12:30:00
3,item4,2021-01-03 16:00:00-08:00,2021-02-02 16:00:00-08:00,2021-02-08 04:30:00-08:00,5 days 12:30:00
4,item5,2021-01-04 16:00:00-08:00,2021-02-03 16:00:00-08:00,2021-02-09 04:30:00-08:00,5 days 12:30:00
5,item6,2021-01-05 16:00:00-08:00,2021-02-04 16:00:00-08:00,2021-02-10 04:30:00-08:00,5 days 12:30:00

In [87]:
#pd.Timedelta(days=1, hours=12, minutes=55)
#pd.Timedelta('1 days 12:55:00')
#pd.Timedelta('1D 12H 55T')

#week_td = pd.Timedelta('1W')
#pd.to_datetime('1 JAN 2022') + week_td

Timestamp('2022-01-08 00:00:00')

## Converting DateTime with time zone information